// testimonial item 6 modal popup
#testimonialModal6.testimonial-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2.text-uppercase Maria
                            p.item-intro.text-muted Portugal
                            img.img-fluid.d-block.mx-auto(src='assets/img/testimonials/Maria.jpg', alt='...')
                            p I've finally reached a high level of happiness in music. It doesn't feel the same as before. I feel like I don't belong anywhere else, that I actually have a future, and that's all thanks to Rachel. Having a healthy and comfortable relationship of student-teacher is essential for a good learning environment. It makes you feel motivated and learn with more efficiency!
                            button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-xmark.me-1
                                | Close